*{
    margin: 0;
    padding: 0;
}

#first {
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 30px;
    background-image: url(images/AE.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#CE{
    background-image: url(images/CE.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#CSE{
    background-image: url(images/CSE.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#EE{
    background-image: url(images/EE.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#ECE{
    background-image: url(images/ECE.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#HM{
    background-image: url(images/HM.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#ME{
    background-image: url(images/ME.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#SH{
    background-image: url(images/SH.jpg);
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    /*margin-bottom: 80px;*/
    padding-top: 30px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

 #second{
    width: 370px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
 }
.sec{
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 90%;
    font-size: 17px;
    background-color: rgb(235, 235, 235);
 }
 
 .touch{
     text-decoration: none;
 }

 #third{
     border-radius: 5px;
     width: 90%;
     /*height: 385px;*/
     margin: auto;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     background-color: rgb(13, 13, 51);
     text-align: left;
     
 }
 .headingD{
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
 #paragraph{
     margin-left: 20px;
     font-size: 19px;
     color: rgba(177, 177, 51, 0.822);
     
 }

 /*#fourth{
     display: flex;
     flex-direction: row;
     border: 2px solid  red;
 }

 .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
 }

 .row{
     
     height: 500px;
     display: flex;
     justify-content: center;
     box-shadow: grey;
     width: 1400px;
 }

.form-control{
    margin-bottom: 26px;
    border: 1px solid black
}

.btn{
    margin-left: 40%;
    background-color: green;
    color: white;
}
#logo img{
    width: 5%;
    margin: auto;
    display: flex;
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#fifth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: grey;
}

#notice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-bottom: 30px;
}*/