.heading
{
	text-align: center;

	color:#5e72e4;
}

.MyTable
{
	border-collapse: collapse;
	margin:auto;
	font-size: 0.9em;
	min-width: 400px;
	box-shadow: 4px 4px 4px 4px #888888;
	

}

.MyTable thead tr
{
	background-color: #5e72e4;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.MyTable th,
.MyTable td
{
	padding : 12px 15px;
}

.MyTable tbody tr:nth-child(even)
{
	background-color: #f3f3f3;
}

.MyTable tbody tr:last-child
{
	border-bottom: 3px solid #009879;
}

.dept
{
	text-align: center;
	color: #5e72e4;
	padding-bottom: 0.5em;
	padding-top: 4em;
}

.firstdept
{
	text-align: center;
	color: #5e72e4;
	padding-bottom: 0.5em;
}