.heading
{
	text-align: center;
	color:#009879;
}

.table
{
	border-collapse: collapse;
	margin:auto;
	font-size: 1.1em;
	box-shadow: 4px 4px 4px 4px #888888;

}

.table thead tr
{
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.table th,
.table td
{
	padding : 12px 15px;
}

.table tbody tr:nth-child(even)
{
	background-color: #f3f3f3;
}

.table tbody tr:last-child
{
	border-bottom: 3px solid #009879;
}

.dept
{
	text-align: center;
	color: #009879;
	padding-bottom: 0.5em;
	padding-top: 4em;
}

.firstdept
{
	text-align: center;
	color: #009879;
	padding-bottom: 0.5em;
}




